{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
    <header class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        <nav class="main-nav overlay clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{#if @blog.navigation}}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </nav>
    </header>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        {{#if bio}}
            <h2 class="author-bio">{{bio}}</h2>
        {{/if}}
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
        </div>
    </section>
{{/author}}

{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    <article class="post">
        <section class="post-content">
            <p>I pride myself on being able to communicate clearly and effectively, using self-deprecating humor, wild analogies, and common Portuguese sayings in order to get a point across.</p>

<p>Over the past few years I've done quite a few <a href="/media-timeline/">talks and presentations</a>, ranging from academic talks, keynotes at industry events, or simple panels on Information Security. If you're interested in having me speak at your next event, feel free to reach out to me on <a href="https://twitter.com/diogomonica">Twitter</a>, or Gmail me at diogo.monica.</p>

<h3 id="bio">Bio</h3>

<h5 id="140characterbio">140 Character Bio</h5>

<p>Diogo is the security lead at Docker, led the Platform Security team at Square, has a PhD in Computer Science, and serves on the board of advisors of several security startups.  </p>

<h5 id="smallbio">Small Bio</h5>

    <p>Diogo Mónica is the security lead at Docker, an open platform for building, shipping and running distributed applications. He was an early employee at Square where he led the platform security team, has a BSc, MSc and PhD degrees in Computer Science, serves on the board of advisors of several security startups, and is a long-time IEEE Volunteer.</p>

    <h5 id="pictures">Pictures</h5>
        <div id="image-table">
            <table>
                <tr>
                    <td style="padding:5px">
                        <a href="{{asset "Diogo_Monica_Black_and_White_Round.png"}}"><img src="{{asset "Diogo_Monica_Black_and_White_Round.png"}}" width="150"/></a>
                    </td>
                    <td style="padding:5px">
                        <a href="{{asset "Diogo_Monica_Black_and_White_Square.png"}}"><img src="{{asset "Diogo_Monica_Black_and_White_Square.png"}}" width="150"/></a>
                     </td>
                    <td style="padding:5px">
                        <a href="{{asset "Diogo_Monica_Docker_hoodie_Round.jpg"}}"><img src="{{asset "Diogo_Monica_Docker_hoodie_Round.jpg"}}" width="150"/></a>
                    </td>
                    <td style="padding:5px">
                        <a href="{{asset "Diogo_Monica_Docker_hoodie_Square.jpg"}}"><img src="{{asset "Diogo_Monica_Docker_hoodie_Square.jpg"}}" width="150"/></a>
                    </td>
                </tr>
            </table>
        </div>

        <p><a href="{{asset "Diogo_Monica_DockerCon.jpg"}}"><img src="{{asset "Diogo_Monica_DockerCon.jpg"}}" width="150"/></a></p>
        </section>
    </article>
</main>
